@model Explore_California_Web.Models.Post
@{
    Layout = "Content";
}
<h1>Create Blog Post</h1>

<fieldset>

    @using (Html.BeginForm())
    {

        <p>
            @Html.EditorFor(x => x.Title)
            @Html.LabelFor(x => x.Title)
        </p>

        <p>
            @Html.TextAreaFor(x => x.Body)
            @Html.LabelFor(x => x.Body)
        </p>

        <p>
            <button type="submit">Create Post</button>
       </p>
    }

</fieldset>

